* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --myfont: 'mulish', sans-serif;
    --my-btn-font: 'Montserrat', sans-serif;
    --lg-lightcolor: linear-gradient(to left, rgba(116, 235, 213, 0.6), rgba(159, 172, 230, 0.6));
    --lg-color: linear-gradient(to left, #74ebd5, #9face6);
}


body {
    background-color: aliceblue;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}


.container {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 60vw;
    height: 55vh;
    display: flex;
    max-width: 100%;
}

.header {

    padding-top: 5vh;
    padding-left: 7vw;
    color: #222;
    font-size: 20px;
}

.form {
    display: inline-block;
    padding-top: 5vh;
    padding-left: 7vw;

}

.form-control {
    margin-bottom: 20px;
    position: relative;

}


.form-control input {
    width: 100%;
    display: block;
    font-size: 17px;
    padding: 12px;
    border-style: none;
}


.form-control i {
    position: absolute;
    right: 16vw;
    top: 1.8vh;

}

.form .btn {
    background: var(--lg-color);
    border-radius: 6px;
    border: none;
    outline: none;
    color: #fff;
    display: block;
    font-family: var(--my-btn-font);
    font-size: 16px;
    padding: 15px 0;
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 1s ease;
}

.form .btn:hover {
    background-color: linear-gradient(to right, #74ebd5, #9face6);
}
.right img {
    width: 23vw;
    margin-top: 3vh;
    margin-left: 10vw;
}
.right p{
    padding-left: 17vw;
    color: black;
    font-size: 20px;

}
.right a{
    text-decoration: none;
}